@use './Users/paulabrunner/Desktop/Personal/Education/Brainstation/1. Projects Homework/3. Band Site Sprint/paula-brunner-bandsite/styles/partials/_variables.scss' as *;
@use './Users/paulabrunner/Desktop/Personal/Education/Brainstation/1. Projects Homework/3. Band Site Sprint/paula-brunner-bandsite/styles/partials/_fonts.scss' as *;

// Responsiveness
@mixin tablet {
    @media(min-width: 768px){
        @content;
    }
}

@mixin desktop {
    @media(min-width: 1280px){
        @content;
    }
}

// Display Flex
@mixin flexbox ($direction: row, $wrap: nowrap, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

// Overlay
@mixin overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    opacity: 0.5; // Adjust the opacity as needed (0.0 to 1.0)
}

// Background Image
@mixin background-image ($background-image) {
    background-image: $background-image;
    background-position: center;
    background-size: cover;
    height: 50vw;
    max-height: 80vh;
}

// Fonts
@mixin h1 ($font-weight, $font-color) {
    font-size: 1.5rem;
    font-weight: $font-weight;
    line-height: 2rem;
    text-decoration: none;
    color: $font-color;
}

@mixin h2 ($font-weight, $font-color) {
    font-size: 1.5rem;
    font-weight: $font-weight;
    line-height: 2rem;
    text-decoration: none;
    color: $font-color;
}

@mixin h3 ($font-weight, $font-color) {
    font-size: 0.875rem;
    font-weight: $font-weight;
    line-height: 1.375rem;
    text-decoration: none;
    color: $font-color;
}

@mixin p ($font-weight, $font-color) {
    font-size: 0.8125rem;
    font-weight: $font-weight;
    line-height: 1.125rem;
    text-decoration: none;
    color: $font-color;
}

@mixin h4 ($font-weight, $font-color) {
    font-size: 0.8125rem;
    font-weight: $font-weight;
    line-height: 1.125rem;
    text-decoration: none;
    color: $font-color;
}

@mixin h5 ($font-weight, $font-color) {
    font-size: 0.625rem;
    font-weight: $font-weight;
    line-height: 1.25rem;
    text-decoration: none;
    color: $font-color;
}