@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;

// Section 1: Hero Classes
.hero {
    &--bio {
        @include background-image (url(../assets/images/hero-bio.jpg));
    }
}

// Section 2: About Classes
.about {
    @include flexbox (column, $gap: 1rem);
    background-color: $color-white;
    padding: 1.5rem 1rem 1rem;

    // Start of Responsiveness
    @include tablet {
        padding: 3rem 2rem 2.25rem;
        gap: 2rem;
    }

    @include desktop {
        max-width: 120rem;
        margin: 0 auto;
        padding-right: 8rem;
        padding-left: 8rem;
    }
    // End of Responsiveness

    &__title {
        @include h1 ($demi, $color-black);
        margin: 0;

        // Start of Responsiveness
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
        }
        // End of Responsiveness
    }

    &__img {
        object-fit: cover;
        min-height: 10vh;
        
        // Start of Responsiveness
        @include tablet {
            margin: 0 auto;
            width: 85%;
            max-height: 30rem;
            max-width: 54rem;
        }
        // End of Responsiveness
    }

    &__article {
        @include flexbox (column, $gap: 1rem);
        @include h3 ($demi, $color-darkblack);
        margin: 0;

        // Start of Responsiveness
        @include tablet {
            margin: 0 auto;
            width: 85%;
            max-width: 54rem;
            gap: 1rem;
        }
        // End of Responsiveness

        &--title {
            margin: 0;
            padding-top: 1rem;
            font-weight: $regular;
            color: $color-darkblack;
            font-size: 0.9rem;

            // Start of Responsiveness
            @include tablet {
                padding-top: 0.8rem;
                padding-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: $demi;
                line-height: 2rem;
            }
            // End of Responsiveness
        }

        &--quote {
            margin: 0;

            // Start of Responsiveness
            @include tablet {
                font-size: 1.38rem;
                line-height: 2rem;
            }

            @include desktop {
                width: 90%;
            }
            // End of Responsiveness
        }

        &--name {
            margin: 0;

            // Start of Responsiveness
            @include tablet {
                @include h3 ($demi, $color-darkblack);
                font-size: 1rem;
            }
            // End of Responsiveness
        }
    }

    &__paragraphs {
        @include flexbox (column, $gap: 1rem);

        // Start of Responsiveness
        @include tablet {
            @include flexbox (row, $gap: 1.9rem);
        }
        // End of Responsiveness
        
        &--text {
            margin: 0;
            font-weight: $regular;
            font-size: 0.83rem;
            line-height: 1.2rem;
            color: $color-black;

            // Start of Responsiveness
            @include tablet {
                font-size: 0.9rem;
                line-height: 1.4rem;
                color: $color-darkblack;
            }
            // End of Responsiveness
        }
    }
}

// Section 3: Gallery Classes
.gallery {
    @include flexbox (column, $gap: 1rem);
    background-color: $color-alabaster;
    padding: 1.5rem 1rem 1rem;

    // Start of Responsiveness
    @include tablet {
        padding: 3rem 2rem 2.25rem;
        gap: 2rem;
    }

    @include desktop {
        max-width: 120rem;
        margin: 0 auto;
        padding-right: 8rem;
        padding-left: 8rem;
    }
    // End of Responsiveness

    &__title {
        @include h1 ($demi, $color-black);
        margin: 0;

        // Start of Responsiveness
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
        }
        // End of Responsiveness
    }

    &__figures {
        @include flexbox (column, $gap: 1rem);
        margin: 0;

        // Start of Responsiveness
        @include tablet {
            @include flexbox (row, wrap, 2rem);
            justify-content: center;
        }
        // End of Responsiveness

        &--img {

            filter: grayscale(100%); // Apply grayscale effect by default
            transition: filter 0.3s ease; // Add transition for a smooth effect

            &:hover {
                filter: grayscale(0%); // Remove grayscale effect on hover, returning to color
            }

            // Start of Responsiveness
            @include tablet {
                width: 30%;
                flex-grow: 1;
            }
            // End of Responsiveness
        }   
    }
}

// Section 4: Comments Classes

.comment {
    @include flexbox(column, $gap: 1rem);
    padding: 1.5rem 1rem 1rem;

    &__title {
        @include h1 ($demi, $color-black);
        margin: 0;
    }

    &__section {
        @include flexbox($gap: 1rem);
    }

    &__profile {
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        object-fit: cover;
    }

    &__form {
        @include flexbox(column);
    }

    &__label {
        @include p($regular, $color-darkblack);
    }

    &__input {
        padding: 0.5rem;
        @include p($regular, $color-darkblack);
    }

    &__button {
        
    }
}