@use '../styles/partials/_variables.scss' as *;
@use '../styles/partials/_mixins.scss' as *;

// Bio SCSS linked to index html files

// Global Classes
* {
    box-sizing: border-box;
}

html {
    font-size: 100%; // Default font-size 16px
}

body {
    @include margin; // Removes white page border
    font-family: $font-family; // Sets default font to Avenir or Sans-Serif
}

p {
    @include margin;
}

// Start of Header Classes
.header {

    // Start of Responsiveness
    @include tablet {
        @include flexbox ($gap: 2rem);
        @include padding (0rem, 1rem, 0rem, 2rem);
    }

    @include desktop {
        @include flexbox;
        @include padding (0rem, 1rem, 0rem, 2rem);
    }
    // End of Responsiveness

    @include flexbox (column, nowrap, 0.3rem);
    @include alignment ($align-items: center);
    @include padding (0.6rem, 0, 0, 0);
    background-color: $color-black;

    &__logo {
        @include h1 ($regular, $color-white);
    }

    &__nav {

        @include flexbox;
        width: 100%;

        &--link {

            // Start of Responsiveness
            @include tablet {
                @include flexbox;
                @include alignment (center);
                @include padding ;
                width: 14vw;

            }
        
            @include desktop {
                @include flexbox;
                @include alignment (center);
                @include padding;
                width: 14vw;
            }
            // End of Responsiveness

            @include h3 ($regular, $color-white);
            @include alignment ($text-align: center);
            @include padding (0, 0, 0.8rem, 0);
            width: 50vw;
            
            &:hover {
                font-weight: $bold;
                border-bottom: 3px solid $color-mercury;
            }
        }
    }
}

// Start of Section 1: Hero Classes
.hero {
    @include background-image (url(../assets/images/hero-bio.jpg));
    @include flexbox;
    @include alignment ($align-items: center);
    @include padding (0, 0, 0, 1rem);

    &__title {
        @include margin;
        @include h1 ($demi, $color-white);
    }
}

// Start of Section 2: Info Classes
.info {
    background-color: $color-white;
    @include flexbox (column, $gap: 1rem);
    @include padding (1rem, 1rem, 1rem, 1rem);

    &__title {
        @include h1 ($demi, $color-black);
        @include margin;
    }

    &__quote {
        @include h3 ($demi, $color-darkblack);
        @include margin;
        @include flexbox (column, $gap: 0.3rem);
    }

    &__text {
        @include p ($regular, $color-black);
        @include margin;
        @include flexbox (column, $gap: 0.8rem);

        &--title {
            @include h3 ($regular, $color-darkblack);
        }
    }
}

// Start of Section 3: Album Classes
.gallery {
    background-color: $color-mercury;
    @include flexbox (column, $gap: 1rem);
    @include padding (1rem, 1rem, 1rem, 1rem);

    &__title {
        @include h1 ($demi, $color-black);
        @include margin;
    }

    &__figures {
        @include flexbox (column, $gap: 1rem);
        @include margin;
    }
}

// Start of Footer Classes
.footer {
    background-color: $color-black;
    @include flexbox (column, $gap: 1rem);
    @include padding (1rem, 1rem, 1rem, 1rem);
    
    &__title {
        @include h1 ($demi, $color-white);
        @include margin;
    }

    &__icons {
        @include flexbox ($gap: 2rem);
    }

    &__details {
        @include flexbox (column, $gap: 1.5rem);
    }

    &__contact {
        @include flexbox (column, $gap: 0.8rem);
        @include p ($regular, $color-white);
    }

    &__person {
        font-weight: $demi;
    }

    &__email {
        @include p ($regular, $color-white);
    }

    &__logo {
        @include h1 ($regular, $color-white);
        @include padding (3rem);
    }

    &__copyright {
        @include p ($regular, $color-white);
    }
}




