/* Variables SCSS linked to Bio SCSS file */
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
.hero--bio {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 60vw;
  max-height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  background-color: #FFFFFF;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .about {
    padding: 3rem 2rem 2.25rem;
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .about {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.about__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
  color: #323232;
  margin: 0;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.about__img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 10vh;
}
@media (min-width: 768px) {
  .about__img {
    margin: 0 auto;
    width: 85%;
    max-height: 30rem;
    max-width: 54rem;
  }
}
.about__article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  text-decoration: none;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .about__article {
    margin: 0 auto;
    width: 85%;
    max-width: 54rem;
    gap: 1rem;
  }
}
.about__article--title {
  margin: 0;
  padding-top: 1rem;
  font-weight: 400;
  color: #000000;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .about__article--title {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
.about__article--quote {
  margin: 0;
}
@media (min-width: 768px) {
  .about__article--quote {
    font-size: 1.38rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  .about__article--quote {
    width: 90%;
  }
}
.about__article--name {
  margin: 0;
}
@media (min-width: 768px) {
  .about__article--name {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
  }
}
.about__paragraphs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  .about__paragraphs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.9rem;
  }
}
.about__paragraphs--text {
  margin: 0;
  font-weight: 400;
  font-size: 0.83rem;
  line-height: 1.2rem;
  color: #323232;
}
@media (min-width: 768px) {
  .about__paragraphs--text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #000000;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  background-color: #FAFAFA;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .gallery {
    padding: 3rem 2rem 2.25rem;
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.gallery__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
  color: #323232;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.gallery__figures {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery__figures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}
.gallery__figures--img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.gallery__figures--img:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .gallery__figures--img {
    width: 30%;
    flex-grow: 1;
  }
}/*# sourceMappingURL=bio.css.map */