@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: Avenir, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.7rem;
  background-color: #323232;
  align-items: center;
  padding: 1rem 0 0;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4rem;
    padding: 1.5rem 2rem 0;
  }
}
@media (min-width: 1280px) {
  .header {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.header__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  height: 2rem;
  max-height: 1.25rem;
}
@media (min-width: 768px) {
  .header__logo {
    height: 2rem;
    margin-bottom: 1.5rem;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .header__nav {
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    gap: 1rem;
  }
}
.header__link {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  text-decoration: none;
  color: #E1E1E1;
  border-bottom: 3px solid #323232;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 50%;
}
.header__link--active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
.header__link:hover {
  font-weight: 700;
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
@media (min-width: 768px) {
  .header__link {
    width: 4.5rem;
    padding-bottom: 1.5rem;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero {
    padding: 3rem 2rem 2.25rem;
    min-height: 30rem;
    max-height: 40rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
}
.hero__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  z-index: 1;
  width: 30rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  background-color: #323232;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    gap: 2rem;
    padding: 3rem 2rem 5rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
    padding-bottom: 6rem;
    gap: 1rem;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.3rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2.5rem;
  }
}
.footer__title {
  margin: 0;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__social {
    gap: 2rem;
  }
}
.footer__social--icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 768px) {
  .footer__social--icon {
    height: 1.5rem;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.5rem;
  padding-top: 0.8rem;
}
@media (min-width: 768px) {
  .footer__contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 1280px) {
  .footer__text {
    gap: 1.5rem;
  }
}
.footer__text--name {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  white-space: pre-line;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__text--name {
    font-size: 0.9rem;
  }
}
.footer__text--address {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  white-space: pre-line;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__text--address {
    font-size: 0.9rem;
  }
}
.footer__text--email {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer__text--email {
    font-size: 0.9rem;
  }
}
.footer__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  height: 2rem;
  max-height: 1.25rem;
  margin-top: 2.7rem;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
    position: absolute;
    top: 3.6875rem;
    right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    right: 8.5rem;
  }
}
.footer__copyright {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.9rem;
    position: absolute;
    bottom: 3rem;
  }
}

.hero--bio {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 60vw;
  max-height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  background-color: #FFFFFF;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .about {
    padding: 3rem 2rem 2.25rem;
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .about {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.about__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
  color: #323232;
  margin: 0;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.about__img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 10vh;
}
@media (min-width: 768px) {
  .about__img {
    margin: 0 auto;
    width: 85%;
    max-height: 30rem;
    max-width: 54rem;
  }
}
.about__article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  text-decoration: none;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .about__article {
    margin: 0 auto;
    width: 85%;
    max-width: 54rem;
    gap: 1rem;
  }
}
.about__article--title {
  margin: 0;
  padding-top: 1rem;
  font-weight: 400;
  color: #000000;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .about__article--title {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
.about__article--quote {
  margin: 0;
}
@media (min-width: 768px) {
  .about__article--quote {
    font-size: 1.38rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  .about__article--quote {
    width: 90%;
  }
}
.about__article--name {
  margin: 0;
}
@media (min-width: 768px) {
  .about__article--name {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
  }
}
.about__paragraphs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  .about__paragraphs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.9rem;
  }
}
.about__paragraphs--text {
  margin: 0;
  font-weight: 400;
  font-size: 0.83rem;
  line-height: 1.2rem;
  color: #323232;
}
@media (min-width: 768px) {
  .about__paragraphs--text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #000000;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  background-color: #FAFAFA;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .gallery {
    padding: 3rem 2rem 2.25rem;
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.gallery__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
  color: #323232;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.gallery__figures {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery__figures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}
.gallery__figures--img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.gallery__figures--img:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .gallery__figures--img {
    width: 30%;
    flex-grow: 1;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1.5rem 1rem 1rem;
}
.comment__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
  color: #323232;
  margin: 0;
}
.comment__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #AFAFAF;
}
.comment__profile {
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1.4rem;
  background-color: grey;
}
.comment__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
.comment__label {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  text-decoration: none;
  color: #AFAFAF;
  font-size: 0.6rem;
  margin-bottom: 0.25rem;
}
.comment__input {
  border: 1px solid #E1E1E1;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.625rem;
  margin-bottom: 1rem;
  background-color: #FAFAFA;
}
.comment__input--name {
  height: 2.25rem;
}
.comment__input::-moz-placeholder {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration: none;
  color: #000000;
  font-family: Avenir, sans-serif;
}
.comment__input::placeholder {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration: none;
  color: #000000;
  font-family: Avenir, sans-serif;
}
.comment__button {
  border: 1px solid #323232;
  background-color: #323232;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: #FFFFFF;
}
.comment__output {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #AFAFAF;
}
.comment__details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.6rem;
  margin: 0;
}
.comment__data {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  justify-content: space-between;
}
.comment__name {
  margin: 0;
  color: #323232;
  font-weight: 600;
  font-size: 0.8rem;
}
.comment__date {
  margin: 0;
  color: #AFAFAF;
  font-size: 0.8rem;
}
.comment__text {
  margin: 0;
  color: #000000;
  font-size: 0.8rem;
  line-height: 1.1rem;
}/*# sourceMappingURL=bio.css.map */