@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: Avenir, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.7rem;
  background-color: #323232;
  align-items: center;
  padding: 1rem 0 0;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4rem;
    padding: 1.5rem 2rem 0;
  }
}
@media (min-width: 1280px) {
  .header {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.header__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  height: 2rem;
  max-height: 1.25rem;
}
@media (min-width: 768px) {
  .header__logo {
    height: 2rem;
    margin-bottom: 1.5rem;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .header__nav {
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    gap: 1rem;
  }
}
.header__link {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  text-decoration: none;
  color: #E1E1E1;
  border-bottom: 3px solid #323232;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 50%;
}
.header__link--active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
.header__link:hover {
  font-weight: 700;
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
@media (min-width: 768px) {
  .header__link {
    width: 4.5rem;
    padding-bottom: 1.5rem;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero {
    padding: 3rem 2rem 2.25rem;
    min-height: 30rem;
    max-height: 40rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
}
.hero__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  z-index: 1;
  width: 30rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  background-color: #323232;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    gap: 2rem;
    padding: 3rem 2rem 5rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
    padding-bottom: 6rem;
    gap: 1rem;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.3rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2.5rem;
  }
}
.footer__title {
  margin: 0;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__social {
    gap: 2rem;
  }
}
.footer__social--icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
@media (min-width: 768px) {
  .footer__social--icon {
    height: 1.5rem;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.5rem;
  padding-top: 0.8rem;
}
@media (min-width: 768px) {
  .footer__contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 1280px) {
  .footer__text {
    gap: 1.5rem;
  }
}
.footer__text--name {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  white-space: pre-line;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__text--name {
    font-size: 0.9rem;
  }
}
.footer__text--address {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  white-space: pre-line;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__text--address {
    font-size: 0.9rem;
  }
}
.footer__text--email {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer__text--email {
    font-size: 0.9rem;
  }
}
.footer__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  height: 2rem;
  max-height: 1.25rem;
  margin-top: 2.7rem;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
    position: absolute;
    top: 3.6875rem;
    right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    right: 8.5rem;
  }
}
.footer__copyright {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.9rem;
    position: absolute;
    bottom: 3rem;
  }
}

.hero--shows {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  height: 60vw;
  max-height: 100vh;
  justify-content: center;
  align-items: flex-start;
}
.hero__intro {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero__intro {
    font-size: 1rem;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  background-color: #FFFFFF;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .shows {
    padding: 3rem 2rem 2.25rem;
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    max-width: 120rem;
    margin: 0 auto;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.shows__details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}
.shows__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
  color: #323232;
  margin: 0;
}
.shows__subtitles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-between;
}
.shows__text {
  margin: 0;
  color: #AFAFAF;
  font-size: 0.8rem;
  font-weight: 600;
}
.shows__upcoming {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  border-bottom: 1px solid #AFAFAF;
  padding-left: 5.5244rem;
}
.shows__info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.shows__text-mobile {
  display: none;
}
.shows__button {
  border: 1px solid #323232;
  background-color: #323232;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: #FFFFFF;
}/*# sourceMappingURL=shows.css.map */