// TABLET AND DESKTOP ARRANGEMENT

.shows {

    @include flexbox ($gap: 1rem);
    background-color: $color-white;
    padding: 1.5rem 1rem 1rem;
    align-items: flex-start;

    // Start of Responsiveness
    @include tablet {
        padding: 3rem 2rem 2.25rem;
        gap: 2rem;
    }

    @include desktop {
        max-width: 120rem;
        margin: 0 auto;
        padding-right: 8rem;
        padding-left: 8rem;
    }
    // End of Responsiveness

    &__details {
        @include flexbox ($gap: 1rem);
    }

    &__title {
        @include h1 ($demi, $color-black);
        margin: 0;
    }

    &__container {
        @include flexbox (column);
        width: 100%;
    }

    &__subtitles {
        @include flexbox ($gap: 18rem);
        padding-top: 0.76rem;
    }

    &__text {
        // display: none;
        margin: 0;
        color: $color-silver;
        font-size: 0.8rem;
        font-weight: $demi;
    }

    &__text2 {
        margin: 0;
    }

    &__upcoming {
        @include flexbox;
        border-bottom: 1px solid $color-silver;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1rem;
        align-items: center;
    }

    &__container2 {
        @include flexbox (column, $gap: 4rem);
        justify-content: space-between;
    }

    &__info {
        @include flexbox ($gap: 0.5rem);
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    &__text-mobile {
        display: none;
        margin: 0;
        color: $color-silver;
        font-size: 0.8rem;
        font-weight: $demi;
    }

    &__button {
        border: 1px solid $color-black;
        background-color: $color-black;
        height: 2.5rem;
        border-radius: .25rem;
        color: $color-white;
        align-self: center;
    }
}