@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;

// Section 1: Hero Classes
.hero {
    &--shows {
        @include flexbox (column, $gap: 1rem);
        @include background-image (url(../assets/images/hero-shows.jpg));
        justify-content: center;
        align-items: flex-start;
    }

    &__intro {
        @include p ($regular, $color-white);
        margin: 0;
        z-index: 1;

        // Start of Responsiveness
        @include tablet {
            font-size: 1rem;
        }
        // End of Responsiveness
    }
}

// Section 2: Shows

.shows {

    @include flexbox (column, $gap: 1rem);
    background-color: $color-white;
    padding: 1.5rem 1rem 1rem;

    // Start of Responsiveness
    @include tablet {
        padding: 3rem 2rem 2.25rem;
        gap: 2rem;
    }

    @include desktop {
        max-width: 120rem;
        margin: 0 auto;
        padding-right: 8rem;
        padding-left: 8rem;
    }
    // End of Responsiveness

    &__details {
        @include flexbox ($gap: 1rem);
    }

    &__title {
        @include h1 ($demi, $color-black);
        margin: 0;
    }

    &__subtitles {
        @include flexbox ($gap: 1rem);
        justify-content: space-between;
    }

    &__text {
        margin: 0;
        color: $color-silver;
        font-size: 0.8rem;
        font-weight: $demi;
    }


    &__upcoming {
        @include flexbox (row, $gap: 1rem);
        border-bottom: 1px solid $color-silver;
        padding-left: 5.5244rem;
    }

    &__info {
        @include flexbox (column, $gap: 0.5rem);
    }

    &__text-mobile {
        display: none;
    }

    &__button {
        border: 1px solid $color-black;
        background-color: $color-black;
        height: 2.5rem;
        border-radius: .25rem;
        color: $color-white;
    }
}