@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;

// Section 1: Hero Classes
.hero {
    &--shows {
        @include flexbox (column, $gap: 1rem);
        @include background-image (url(../assets/images/hero-shows.jpg));
        justify-content: center;
        align-items: flex-start;
    }

    &__iframe {
        width: 100%;
        height: 10.375rem;
        border: none;
    }

    &__intro {
        @include p ($regular, $color-white);
        margin: 0;
        z-index: 1;

        // Start of Responsiveness
        @include tablet {
            font-size: 1rem;
        }
        // End of Responsiveness
    }
}

// Section 2: Shows

.shows {

    @include flexbox (column);
    background-color: $color-white;
    padding: 1.5rem 1rem 1rem;
    align-items: flex-start;

    // Start of Responsiveness
    @include tablet {
        padding: 3rem 2rem 2.25rem;
    }

    @include desktop {
        max-width: 120rem;
        margin: 0 auto;
        padding-right: 8rem;
        padding-left: 8rem;
    }
    // End of Responsiveness

    &__details {
        @include flexbox ($gap: 1rem);
    }

    &__title {
        @include h2 ($demi, $color-black);
        margin: 0;

        // Start of Responsiveness
        @include tablet {
            font-size: 2.25rem;
            line-height: 4.25rem;
        }
        // End of Responsiveness
    }

    &__container {
        @include flexbox (column);
        width: 100%;
    }

    &__subtitles {
        @include flexbox ($gap: 18rem);
        padding-top: 0.76rem;

        @include tablet {
            padding-top: 3rem;
        }
    }

    &__text {
        display: none;
        margin: 0;
        color: $color-silver;
        font-size: 0.8rem;
        font-weight: $demi;

        @include tablet {
            display: block;
        }
    }

    &__text2 {
        margin: 0;
    }

    &__upcoming {
        @include flexbox (column, $gap: 1.5rem);
        border-bottom: 1px solid $color-mercury;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1rem;

        // Start of Responsiveness
        @include tablet {
            @include flexbox ($gap: 1rem);
            padding: 2.25rem 2rem 2.25rem 0rem;
            gap: 2rem;
        }

        @include desktop {
            max-width: 120rem;
            margin: 0 auto;
            padding-right: 8rem;
            padding-left: 8rem;
        }
        // End of Responsiveness

        &:hover {
            background-color: $color-alabaster;
        }

        &:active { //TODO Fix this
            background-color: $color-mercury;
        }

    }

    &__container2 {
        @include flexbox (column, $gap:0.5rem);
        justify-content: space-between;

        @include tablet {
            justify-content: center;
        }
    }

    &__info {
        @include flexbox ($gap: 0.5rem);
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    &__text-mobile {
        margin: 0;
        color: $color-silver;
        font-size: 0.8rem;
        font-weight: $demi;

        @include tablet {
            display: none;
        }
    }
}